
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>My Spring Boot App</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
  <img class="cover" src="/static/css/img/logo.png" alt="Logo image">
</header>
<section>
  <h2>Apprendre Spring Boot 3 avec des projets réels</h2>
  <div th:if="${showDetails}">
    <div th:replace="~{fragments/details.html :: content('en')"></div>
  </div>
  <a href="https://spring.io/projects/spring-boot#learn" target="_blank">details</a>
  <img class="cover" src="/static/css/img/image.jpg" alt="Spring Boot Logo">
</section>
<footer>
  <p class="light-text">ISET TOZEUR</p>
</footer>
</body>
</html>
